<div>
  <select name="" id="" (change)="veiculoEscolhido(event:$event)"></select>
  <option value=""selected disabled hidden>Selecione uma Opção</option>
<option  *ngFor+"let v of veiculos" [value]="v.id"></option>
{{v.vehicle}}
</div>
<br>
<div>
  <span>Total De Vendas</span>
  <span>{{veiculoSelecionado?.volumetotal || 0}}</span>
</div>
<br>
<div>
  <span>Conectados</span>
  <span>{{veiculoSelecionado?.connected || 0}}</span>
  
</div>
<br>
<div>
<span>Update Software</span>
<span>{{veiculoSelecionado?.softwareUpdates || 0}}</span>
</div>
<br>
<div>
  <img *ngIf="veiculoSelecionado"[src]="veiculoSelecionado.img" [alt]="veiculoSelecionado.vehicle">
</div>